:root {
  --mario-red: #f63232;
  --mario-gold: #feb614;
  --bg-color: #f4f4f4;
  --text-color: #4b4b4b;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
}
p {
  font-size: 18px;
}

header {
  background: var(--mario-red);
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
header h1 {
  display: inline-block;
  padding: 6px 12px;
  border: 8px solid #fff;
  border-radius: 36px;
}
.banner {
  position: relative;
}
.banner img {
  display: block;
  max-width: 100%;
}
.banner .welcome {
  background: var(--mario-gold);
  color: #fff;
  padding: 30px;
  position: absolute;
  left: 0;
  top: 30%;
}
.banner h2 {
  font-size: 74px;
}
.banner h2 span {
  font-size: 1.3em;
}
.main-nav {
  background: var(--bg-color);
  position: sticky;
  top: 147px;
  padding: 20px;
}
.main-nav ul {
  display: block;
  list-style: none;
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
.main-nav li {
  display: inline-block;
  text-align: center;
  font-size: 24px;
  width: 25%;
}
.main-nav a {
  text-decoration: none;
  color: var(--text-color);
}
main {
  width: 100%;
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
}
article h2 {
  font-size: 48px;
  color: var(--mario-red);
}
article p {
  line-height: 1.6em;
  color: var(--text-color);
  font-size: 1.5em;
}
.images {
  margin: 80px 0;
  padding: 0;
  text-align: center;
}
.images li {
  list-style-type: none;
  width: 40%;
  display: inline-block;
  margin: 20px 4%;
  white-space: nowrap;
}
.images li img {
  max-width: 100%;
}
.join {
  text-align: center;
  background: var(--bg-color);
  padding: 60px 20px;
}
.join h2 {
  font-size: 36px;
}
form input {
  font-size: 24px;
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 28px;
  border: 4px solid white;
}
footer {
  background: var(--mario-red);
  color: #fff;
  text-align: center;
}
footer h4 {
  margin: 0;
  padding: 20px 0;
}
